In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('cars_demo.csv')
df.head()

      brand  km_driven    fuel         owner  selling_price
0    Maruti      85000  Petrol   First Owner         450000
1   Hyundai     120000  Diesel  Second Owner         300000
2     Honda      60000  Petrol   First Owner         600000
3      Tata      95000  Diesel   Third Owner         250000
4  Mahindra     150000  Diesel   First Owner         700000

In [5]:
df.brand.value_counts()

brand
Maruti        22
Hyundai       15
Honda         13
Mahindra      10
Tata           9
Toyota         7
Ford           7
Renault        6
Volkswagen     6
Skoda          5
Name: count, dtype: int64

## 1. OHE using pandas

In [10]:
# with dump trap
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_Petrol,owner_First Owner,owner_Second Owner,owner_Third Owner
0,Maruti,85000,450000,False,False,True,True,False,False
1,Hyundai,120000,300000,False,True,False,False,True,False
2,Honda,60000,600000,False,False,True,True,False,False
3,Tata,95000,250000,False,True,False,False,False,True
4,Mahindra,150000,700000,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...
95,Toyota,119000,490000,False,False,True,False,True,False
96,Maruti,150000,800000,False,True,False,True,False,False
97,Toyota,138000,310000,False,False,True,False,False,True
98,Renault,124000,360000,False,True,False,True,False,False
99,Honda,143000,400000,False,False,True,False,True,False

Under the hood, models like Logistic Regression, SVM, Random Forest, XGBoost, etc., all operate on numerical matrices (float or int values).

So, boolean values are automatically converted to integers:

True → 1

False → 0

In [11]:
# without dummy trap
pd.get_dummies(df,columns=['fuel','owner'],drop_first = True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_Petrol,owner_Second Owner,owner_Third Owner
0,Maruti,85000,450000,False,True,False,False
1,Hyundai,120000,300000,True,False,True,False
2,Honda,60000,600000,False,True,False,False
3,Tata,95000,250000,True,False,False,True
4,Mahindra,150000,700000,True,False,False,False
...,...,...,...,...,...,...,...
95,Toyota,119000,490000,False,True,True,False
96,Maruti,150000,800000,True,False,False,False
97,Toyota,138000,310000,False,True,False,True
98,Renault,124000,360000,True,False,False,False
99,Honda,143000,400000,False,True,True,False

The dummy trap occurs when one or more features in your dataset are perfectly collinear, i.e., one can be predicted from the others — this causes multicollinearity, which confuses models that rely on matrix inversion (like Linear Regression and Logistic Regression).

In [12]:
# pandas does not remeber the order and having several limitations

## 2. One hot encoding using sklean

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
# creating object without parse and dummy trap and dtype
# wew should perform it after splitting but in this case i am doing it direct

ohe = OneHotEncoder()

x_train_new = ohe.fit_transform(df.iloc[:,2:4]).toarray()  # we manually need to convert it
x_train_new

array([[0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0.]])

In [19]:
# we need to add this in initial df 

x_train = np.hstack((df[['brand','km_driven','selling_price']].values,x_train_new)) #combining the values and take tuples
x_train

array([['Maruti', 85000, 450000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Hyundai', 120000, 300000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Honda', 60000, 600000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Tata', 95000, 250000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Mahindra', 150000, 700000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 110000, 380000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Toyota', 75000, 800000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Ford', 130000, 320000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Renault', 82000, 420000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Volkswagen', 105000, 480000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 45000, 550000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Hyundai', 140000, 280000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Honda', 88000, 750000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Tata', 160000, 200000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Mahindra', 92000, 650000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 70000, 500000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Toyota', 115000, 900000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Ford', 98000, 350000, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0],
       ['Hyundai', 65000, 400000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 125000, 430000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Hyundai', 78000, 380000, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 102000, 330000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Honda', 55000, 620000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Hyundai', 135000, 270000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Maruti', 80000, 720000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Skoda', 145000, 360000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Hyundai', 90000, 850000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Maruti', 112000, 310000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Renault', 72000, 410000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Volkswagen', 93000, 460000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 62000, 500000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Honda', 138000, 290000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Tata', 76000, 780000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Hyundai', 155000, 220000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Mahindra', 108000, 680000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Skoda', 83000, 520000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Maruti', 128000, 880000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Hyundai', 106000, 340000, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0],
       ['Mahindra', 96000, 390000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 118000, 440000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Hyundai', 88000, 370000, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Tata', 114000, 320000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Honda', 68000, 640000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Maruti', 148000, 260000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Mahindra', 99000, 700000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Toyota', 132000, 370000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 82000, 830000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Ford', 122000, 300000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Hyundai', 85000, 430000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Volkswagen', 103000, 470000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 75000, 480000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Tata', 130000, 310000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Honda', 92000, 760000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 165000, 190000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Mahindra', 116000, 660000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Skoda', 97000, 510000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Hyundai', 136000, 860000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Ford', 119000, 330000, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0],
       ['Honda', 108000, 380000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Volkswagen', 129000, 420000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Maruti', 94000, 360000, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Hyundai', 124000, 300000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Honda', 81000, 630000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Tata', 158000, 240000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Mahindra', 104000, 690000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 142000, 350000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Toyota', 96000, 840000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Ford', 134000, 290000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Renault', 90000, 400000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Honda', 111000, 450000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 83000, 490000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Tata', 146000, 280000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Honda', 100000, 740000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Hyundai', 170000, 180000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Mahindra', 123000, 640000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Skoda', 109000, 500000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Maruti', 144000, 820000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Ford', 128000, 320000, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0],
       ['Renault', 117000, 370000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Volkswagen', 137000, 410000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Maruti', 105000, 350000, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Tata', 133000, 290000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Honda', 95000, 610000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Hyundai', 162000, 230000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Mahindra', 113000, 670000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Skoda', 126000, 360000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Toyota', 107000, 810000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Ford', 140000, 280000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Renault', 101000, 390000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Volkswagen', 121000, 460000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 91000, 470000, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Tata', 150000, 270000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Honda', 110000, 730000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Mahindra', 175000, 170000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       ['Hyundai', 130000, 630000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Toyota', 119000, 490000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Maruti', 150000, 800000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Toyota', 138000, 310000, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0],
       ['Renault', 124000, 360000, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Honda', 143000, 400000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0]],
      dtype=object)

In [23]:
# creating object with parse and dummy trap and dtype
ohe = OneHotEncoder(drop='first',sparse_output = False, dtype = int)

x_train_new = ohe.fit_transform(df.iloc[:,2:4])   # we manually need to convert it
x_train_new

array([[0, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 0]])

In [24]:
x_train = np.hstack((df[['brand','km_driven','selling_price']].values,x_train_new)) #combining the values and take tuples
x_train

array([['Maruti', 85000, 450000, 0, 1, 0, 0],
       ['Hyundai', 120000, 300000, 1, 0, 1, 0],
       ['Honda', 60000, 600000, 0, 1, 0, 0],
       ['Tata', 95000, 250000, 1, 0, 0, 1],
       ['Mahindra', 150000, 700000, 1, 0, 0, 0],
       ['Maruti', 110000, 380000, 1, 0, 1, 0],
       ['Toyota', 75000, 800000, 0, 1, 0, 0],
       ['Ford', 130000, 320000, 1, 0, 0, 1],
       ['Renault', 82000, 420000, 0, 1, 0, 0],
       ['Volkswagen', 105000, 480000, 1, 0, 1, 0],
       ['Maruti', 45000, 550000, 0, 1, 0, 0],
       ['Hyundai', 140000, 280000, 0, 1, 1, 0],
       ['Honda', 88000, 750000, 1, 0, 0, 0],
       ['Tata', 160000, 200000, 1, 0, 0, 1],
       ['Mahindra', 92000, 650000, 1, 0, 0, 0],
       ['Maruti', 70000, 500000, 0, 1, 1, 0],
       ['Toyota', 115000, 900000, 1, 0, 0, 0],
       ['Ford', 98000, 350000, 0, 1, 0, 1],
       ['Hyundai', 65000, 400000, 1, 0, 0, 0],
       ['Maruti', 125000, 430000, 0, 1, 1, 0],
       ['Hyundai', 78000, 380000, 0, 0, 0, 0],
       ['Maruti', 102000, 330000, 0, 1, 1, 0],
       ['Honda', 55000, 620000, 0, 1, 0, 0],
       ['Hyundai', 135000, 270000, 1, 0, 0, 1],
       ['Maruti', 80000, 720000, 1, 0, 0, 0],
       ['Skoda', 145000, 360000, 1, 0, 1, 0],
       ['Hyundai', 90000, 850000, 0, 1, 0, 0],
       ['Maruti', 112000, 310000, 1, 0, 0, 1],
       ['Renault', 72000, 410000, 0, 1, 0, 0],
       ['Volkswagen', 93000, 460000, 1, 0, 1, 0],
       ['Maruti', 62000, 500000, 0, 1, 0, 0],
       ['Honda', 138000, 290000, 0, 1, 1, 0],
       ['Tata', 76000, 780000, 1, 0, 0, 0],
       ['Hyundai', 155000, 220000, 1, 0, 0, 1],
       ['Mahindra', 108000, 680000, 1, 0, 0, 0],
       ['Skoda', 83000, 520000, 0, 1, 1, 0],
       ['Maruti', 128000, 880000, 1, 0, 0, 0],
       ['Hyundai', 106000, 340000, 0, 1, 0, 1],
       ['Mahindra', 96000, 390000, 1, 0, 0, 0],
       ['Maruti', 118000, 440000, 0, 1, 1, 0],
       ['Hyundai', 88000, 370000, 0, 0, 0, 0],
       ['Tata', 114000, 320000, 0, 1, 1, 0],
       ['Honda', 68000, 640000, 0, 1, 0, 0],
       ['Maruti', 148000, 260000, 1, 0, 0, 1],
       ['Mahindra', 99000, 700000, 1, 0, 0, 0],
       ['Toyota', 132000, 370000, 1, 0, 1, 0],
       ['Maruti', 82000, 830000, 0, 1, 0, 0],
       ['Ford', 122000, 300000, 1, 0, 0, 1],
       ['Hyundai', 85000, 430000, 0, 1, 0, 0],
       ['Volkswagen', 103000, 470000, 1, 0, 1, 0],
       ['Maruti', 75000, 480000, 0, 1, 0, 0],
       ['Tata', 130000, 310000, 0, 1, 1, 0],
       ['Honda', 92000, 760000, 1, 0, 0, 0],
       ['Maruti', 165000, 190000, 1, 0, 0, 1],
       ['Mahindra', 116000, 660000, 1, 0, 0, 0],
       ['Skoda', 97000, 510000, 0, 1, 1, 0],
       ['Hyundai', 136000, 860000, 1, 0, 0, 0],
       ['Ford', 119000, 330000, 0, 1, 0, 1],
       ['Honda', 108000, 380000, 1, 0, 0, 0],
       ['Volkswagen', 129000, 420000, 0, 1, 1, 0],
       ['Maruti', 94000, 360000, 0, 0, 0, 0],
       ['Hyundai', 124000, 300000, 0, 1, 1, 0],
       ['Honda', 81000, 630000, 0, 1, 0, 0],
       ['Tata', 158000, 240000, 1, 0, 0, 1],
       ['Mahindra', 104000, 690000, 1, 0, 0, 0],
       ['Maruti', 142000, 350000, 1, 0, 1, 0],
       ['Toyota', 96000, 840000, 0, 1, 0, 0],
       ['Ford', 134000, 290000, 1, 0, 0, 1],
       ['Renault', 90000, 400000, 0, 1, 0, 0],
       ['Honda', 111000, 450000, 1, 0, 1, 0],
       ['Maruti', 83000, 490000, 0, 1, 0, 0],
       ['Tata', 146000, 280000, 0, 1, 1, 0],
       ['Honda', 100000, 740000, 1, 0, 0, 0],
       ['Hyundai', 170000, 180000, 1, 0, 0, 1],
       ['Mahindra', 123000, 640000, 1, 0, 0, 0],
       ['Skoda', 109000, 500000, 0, 1, 1, 0],
       ['Maruti', 144000, 820000, 1, 0, 0, 0],
       ['Ford', 128000, 320000, 0, 1, 0, 1],
       ['Renault', 117000, 370000, 1, 0, 0, 0],
       ['Volkswagen', 137000, 410000, 0, 1, 1, 0],
       ['Maruti', 105000, 350000, 0, 0, 0, 0],
       ['Tata', 133000, 290000, 0, 1, 1, 0],
       ['Honda', 95000, 610000, 0, 1, 0, 0],
       ['Hyundai', 162000, 230000, 1, 0, 0, 1],
       ['Mahindra', 113000, 670000, 1, 0, 0, 0],
       ['Skoda', 126000, 360000, 1, 0, 1, 0],
       ['Toyota', 107000, 810000, 0, 1, 0, 0],
       ['Ford', 140000, 280000, 1, 0, 0, 1],
       ['Renault', 101000, 390000, 0, 1, 0, 0],
       ['Volkswagen', 121000, 460000, 1, 0, 1, 0],
       ['Maruti', 91000, 470000, 0, 1, 0, 0],
       ['Tata', 150000, 270000, 0, 1, 1, 0],
       ['Honda', 110000, 730000, 1, 0, 0, 0],
       ['Mahindra', 175000, 170000, 1, 0, 0, 1],
       ['Hyundai', 130000, 630000, 1, 0, 0, 0],
       ['Toyota', 119000, 490000, 0, 1, 1, 0],
       ['Maruti', 150000, 800000, 1, 0, 0, 0],
       ['Toyota', 138000, 310000, 0, 1, 0, 1],
       ['Renault', 124000, 360000, 1, 0, 0, 0],
       ['Honda', 143000, 400000, 0, 1, 1, 0]], dtype=object)

In [25]:
## 3. One Hot Encoding using top 10 categories

In [42]:
df.head()

0      Maruti
1     Hyundai
2       Honda
3    uncommon
4    Mahindra
Name: brand, dtype: object

In [33]:
counts = df.brand.value_counts()

In [41]:
# aplying on brand categories

ohe = OneHotEncoder(drop='first',sparse_output = False, dtype = int)

repl = counts[counts<=9].index  # getting index 
df['brand'] = df['brand'].replace(repl,'uncommon')
x_train_new = ohe.fit_transform(df[['brand']]) 
x_train_new

KeyError: 'brand'