In [21]:
import pandas as pd 
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

In [16]:
data = load_iris()
X = data.data
df = pd.DataFrame(X,columns = data.feature_names)

In [17]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [18]:
df['target'] = data.target

In [20]:
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
3,4.6,3.1,1.5,0.2,0
72,6.3,2.5,4.9,1.5,1
122,7.7,2.8,6.7,2.0,2
31,5.4,3.4,1.5,0.4,0
52,6.9,3.1,4.9,1.5,1

In [34]:
x_train,x_test,y_train,y_test = train_test_split(df.drop('target',axis = 1),df.target,random_state = 2)

In [35]:
algo1 = LogisticRegression()
algo2 = DecisionTreeClassifier()

algo1.fit(x_train,y_train)
algo2.fit(x_train,y_train)

y_pred1 = algo1.predict(x_test)
y_pred2 = algo2.predict(x_test)

print('Logistic Regression accuracy :',accuracy_score(y_test,y_pred1))
print('Decision tree accuracy :',accuracy_score(y_test,y_pred2))

Logistic Regression accuracy : 0.9736842105263158
Decision tree accuracy : 0.9473684210526315

In [36]:
# we can also find score as
algo1.score(x_test,y_test),algo2.score(x_test,y_test)

(0.9736842105263158, 0.9473684210526315)