In [1]:
import pandas as pd

In [4]:
path = r"C:\Users\DELL\Desktop\Programming\CampusX\100 days of Machine Learning (youtube)\03_reading_a_csv_file_using_pandas\terrorismData.csv"
path = path.replace("\\", "/")
print(path)

C:/Users/DELL/Desktop/Programming/CampusX/100 days of Machine Learning (youtube)/03_reading_a_csv_file_using_pandas/terrorismData.csv

In [6]:
df = pd.read_csv(path)

# Q1 How big is data?

In [8]:
df.shape

(181691, 17)

# Q2 How does data look Like?

In [9]:
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [10]:
df.tail()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives

In [11]:
# randomly pick 5 samples
df.sample(5)

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
165020,2016,7,22,Iraq,Al Anbar,Middle East & North Africa,Saqlawiyah,33.397812,43.706276,Bombing/Explosion,0.0,0.0,House,07/22/2016: Security forces discovered and def...,Unknown,Private Citizens & Property,Explosives
4368,1976,12,8,Italy,Lazio,Western Europe,Rome,41.890961,12.490069,Armed Assault,0.0,0.0,Car,NaN,Red Brigades,Private Citizens & Property,Incendiary
17803,1983,1,8,Spain,Basque Country,Western Europe,Bermeo,43.420422,-2.722158,Assassination,2.0,0.0,"jaun ruiz, rafael gonzalez carrillo, officers",NaN,Basque Fatherland and Freedom (ETA),Military,Firearms
103410,2011,10,11,Germany,Berlin,Western Europe,Berlin,52.501530,13.401851,Bombing/Explosion,0.0,0.0,The railroad south of Berlin,"10/11/2011: On Tuesday, in Berlin, Berlin, Ger...",Hekla Reception Committee-Initiative for More ...,Transportation,Explosives
155281,2015,11,10,Iraq,Diyala,Middle East & North Africa,Husseiniyah,33.548306,44.415733,Bombing/Explosion,2.0,5.0,Civilians,11/10/2015: An explosive device detonated near...,Unknown,Private Citizens & Property,Explosives

# Q3 What is the data types of columns?

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year         181691 non-null  int64
 1   Month        181691 non-null  int64
 2   Day          181691 non-null  int64
 3   Country      181691 non-null  object
 4   State        181270 non-null  object
 5   Region       181691 non-null  object
 6   City         181257 non-null  object
 7   Latitude     177135 non-null  float64
 8   Longitude    177134 non-null  float64
 9   AttackType   181691 non-null  object
 10  Killed       171378 non-null  float64
 11  Wounded      165380 non-null  float64
 12  Target       181055 non-null  object
 13  Summary      115562 non-null  object
 14  Group        181691 non-null  object
 15  Target_type  181691 non-null  object
 16  Weapon_type  181691 non-null  object
dtypes: float64(4), int64(3), object(10)
memory usage: 23.6+ MB

In [15]:
# object means str

# we can decrease size by changindg dtype of columns

# Q4 Are there any missing values?

In [16]:
df.isnull().sum()

Year               0
Month              0
Day                0
Country            0
State            421
Region             0
City             434
Latitude        4556
Longitude       4557
AttackType         0
Killed         10313
Wounded        16311
Target           636
Summary        66129
Group              0
Target_type        0
Weapon_type        0
dtype: int64

# Q5 how daoes data look mathematically?

In [18]:
df.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded
count,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,171378.000000,165380.000000
mean,2002.638997,6.467277,15.505644,23.498343,-4.586957e+02,2.403272,3.167668
std,13.259430,3.388303,8.814045,18.569242,2.047790e+05,11.545741,35.949392
min,1970.000000,0.000000,0.000000,-53.154613,-8.618590e+07,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,11.510046,4.545640e+00,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,31.467463,4.324651e+01,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,34.685087,6.871033e+01,2.000000,2.000000
max,2017.000000,12.000000,31.000000,74.633553,1.793667e+02,1570.000000,8191.000000

# Q6 are there any duplicate values ?

In [21]:
df.duplicated().sum()  # return total no of duplicate rows in df

9504

# Q7 How is the correlation between columns?

In [23]:
df.corr()

C:\Users\DELL\AppData\Local\Temp\ipykernel_9056\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded
Year,1.000000,0.000139,0.018254,0.166933,0.003917,0.015341,0.015273
Month,0.000139,1.000000,0.005497,-0.015978,-0.003880,0.003463,0.002938
Day,0.018254,0.005497,1.000000,0.003423,-0.002285,-0.003693,-0.001268
Latitude,0.166933,-0.015978,0.003423,1.000000,0.001463,-0.018124,0.015988
Longitude,0.003917,-0.003880,-0.002285,0.001463,1.000000,-0.000562,0.000223
Killed,0.015341,0.003463,-0.003693,-0.018124,-0.000562,1.000000,0.534375
Wounded,0.015273,0.002938,-0.001268,0.015988,0.000223,0.534375,1.000000

In [24]:
df.corr()['Day']

C:\Users\DELL\AppData\Local\Temp\ipykernel_9056\271570429.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['Day']

Year         0.018254
Month        0.005497
Day          1.000000
Latitude     0.003423
Longitude   -0.002285
Killed      -0.003693
Wounded     -0.001268
Name: Day, dtype: float64

In [25]:
# it calculate carl pearsons coefficient of correlation