In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# importing dataset
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [8]:
# lets impute some outliers in the data

df = pd.concat([df,pd.DataFrame({'Age':[5,90,100],'EstimatedSalary':[1000,200000,300000]})],ignore_index=True)
df.shape

(403, 3)

In [9]:
x = df.iloc[:,0:2]
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [10]:
y= df.iloc[:,2]
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Purchased, dtype: float64

In [11]:
# splitting the dataset
from sklearn import model_selection

x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(302, 2)
(101, 2)
(302,)
(101,)