In [1]:
from sklearn.experimental import enable_iterative_imputer  # to run iterativeimputer we need this 
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

In [30]:
import numpy as np

In [31]:
df = pd.read_csv('50_Startups.csv')

In [32]:
new_df = df.head().copy()

In [33]:
new_df

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [34]:
new_df = new_df.iloc[:,0:3].copy()

In [35]:
new_df

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [36]:
# introducing missing values
new_df.iloc[1,0] = np.nan
new_df.iloc[3,1] = np.nan
new_df.iloc[-1,-1] = np.nan

In [37]:
new_df

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1        NaN       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41             NaN        383199.62
4  142107.34        91391.77              NaN

In [38]:
# now we will be filling those values and compare with original one

# Configure imputation engine using advanced non-linear learners
mice_imputer = IterativeImputer(
    estimator=RandomForestRegressor(),   # we can use any estimator
    max_iter=10,
    initial_strategy="mean",
    imputation_order="ascending"
)

df_imputed = pd.DataFrame(
    mice_imputer.fit_transform(new_df),
    columns=new_df.columns
)
new_df

C:\Users\DELL\miniconda3\envs\campusx\Lib\site-packages\sklearn\impute\_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1        NaN       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41             NaN        383199.62
4  142107.34        91391.77              NaN

In [39]:
df_imputed

     R&D Spend  Administration  Marketing Spend
0  165349.2000     136897.8000      471784.1000
1  161573.0622     151377.5900      443898.5300
2  153441.5100     101145.5500      407934.5400
3  144372.4100      96229.6478      383199.6200
4  142107.3400      91391.7700      392490.0472

In [40]:
df.head()  # we are getting similar kind of values at missing point

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94